//- A note about my conventions I will use in this file:
//- All external javascript will create an object with the same name as the file containing
//- all of the functionality for that file. I will refer to that object as the file's
//- 'namespace'. Many of the external javascripts used by this page are specific to this page.
//- Thus, to help keep things organized, element id's used in this file will use the namespace
//- of the javascript that uses it. However, using a period in an id is possible, but
//- problematic because selectors interpret an unescaped period as a class designator. 
//- (i.e. `#load_deck.menu_toggle` means `id='load_deck' class='menu_toggle'`, rather than
//- `id='load_deck.menu_toggle'`). To prevent this annoyance, the namespace separator for
//- ids will be a hyphen (-). This is why there are weird looking ids with underscores and
//- hyphens like `load_deck-menu_toggle`.
extends layout

block headers
	title Deck Editor - #{config.site_name}
	link(rel='stylesheet', href='/stylesheets/card.css')
	style
		| body
		| {
		| 	padding-bottom: 200px;
		| }

block scripts
	script(src='/javascripts/yes_no_dialog.js')
	script(src='/javascripts/validator.min.js')
	script(src='/javascripts/common/custom_validators.js')
	script(src='/javascripts/ajax_request_queue.js')
	script
		| step1_queue = new ajax_request_queue(1);
		| step2_queue = new ajax_request_queue(1);
	script(src='/javascripts/html.js')
	script(src='/javascripts/common/deck.js')
	script(src='/javascripts/common/card.js')
	script(src='/javascripts/two_state_machine.js')
	script(src='/javascripts/deck_editor/load_deck.js')
	script
		| $(document).ready(function() {
		| 	load_deck.add_decks(!{JSON.stringify(user_decks)});
		| 	load_deck.loaded_deck.on_deactivate(function()
		| 	{
		| 		$('#method_tabs').addClass('disable_all');
		| 		$('#method_tab_content').addClass('disable_all');
		| 	});
		| 	load_deck.loaded_deck.on_activate(function()
		| 	{
		| 		$('#method_tabs').removeClass('disable_all');
		| 		$('#method_tab_content').removeClass('disable_all');
		| 	});
		| });
	script(src='/javascripts/deck_editor/create_deck.js')
	script(src='/javascripts/deck_editor/add_card.js')

block content
	.container
		.row
			.col-xs-12
				ul.list-group
					+flash_messages
		.row
			+game_navbar('deck_editor')
		.row
			.col-xs-12
				h2 Step 1 
					small Choose a deck to edit
		.row(style='margin-bottom: 10px;')
			.col-xs-12
				.form-inline
					.form-group
						label.sr-only(for='create_deck-name_input', style='margin-right: 5px;') Make New Deck
						.input-group(style='margin-right: 5px;')
							input#create_deck-name_input.form-control(type='text', size='50', placeholder='New Deck Name', maxlength=config.field_sizes.deck_name)
							span.input-group-addon
								span.glyphicon.glyphicon-remove-circle
					button#create_deck-button.btn.btn-default(autocomplete='off') Create
		.row
			.col-xs-12
				.btn-group
					button#load_deck-menu_toggle.btn.btn-default.dropdown-toggle(data-toggle='dropdown', autocomplete='off') Choose a deck 
						span.caret
					ul#load_deck-menu.dropdown-menu
		.row
			.col-xs-12
				h2 Step 2 
					small Edit chosen deck
		ul#method_tabs.nav.nav-tabs(style='margin-bottom: 10px;')
			li
				a(data-toggle='tab', href='#view_deck-tab') View
			li.active
				a(data-toggle='tab', href='#add_card-tab') Add Cards
			li
				a(data-toggle='tab', href='#browse_cards-tab') Browse Cards
			li
				a(data-toggle='tab', href='#top_decks-tab') Top Decks
			li
				a(data-toggle='tab', href='#search-tab') Search
		#method_tab_content.tab-content
			#view_deck-tab.tab-pane.fade
				.row
					.col-xs-12
						h3 View Deck
						p Coming Soon!
			#add_card-tab.tab-pane.fade.in.active
				.row
					.col-xs-12.col-md-9.col-lg-4_5ths
						.form-horizontal
							.form-group
								label.control-label.col-xs-12.col-sm-2 Card Text
								.col-xs-12.col-sm-10
									input#add_card-text_input.form-control(type='text', placeholder='Card Text', maxlength=config.field_sizes.card_text)
							.form-group
								label.control-label.col-xs-4.col-sm-2 Quantity
								.col-xs-8.col-sm-4
									input#add_card-quantity_input.form-control(type='text', placeholder='Quantity', value='1')
							.form-group
								.col-xs-12.col-sm-6.col-sm-offset-2.col-md-4
									.btn-group.btn-group-justified(data-toggle='buttons')
										label#white_button.btn.btn-default.btn-lg
											input(type='radio', name='add_card-color_radio', value='white', checked='checked')
											| White
										label#black_button.btn.btn-default.btn-lg
											input(type='radio', name='add_card-color_radio', value='black')
											| Black
							.form-group
								.col-xs-12.col-sm-6.col-sm-offset-2
									button#add_card-button.btn.btn-primary.btn-lg(autocomplete='off')
										span(style='margin-left: 25px;margin-right: 25px;') Add
										span.glyphicon.glyphicon-circle-arrow-right
					.hidden-xs.hidden-sm.col-md-3.col-lg-5ths
						#add_card-preview.card.card_white
			#browse_cards-tab.tab-pane.fade
				.row
					.col-xs-12
						h3 Browse Cards
						p Coming Soon!
			#top_decks-tab.tab-pane.fade
				.row
					.col-xs-12
						h3 Top Decks
						p Coming Soon!
			#search-tab.tab-pane.fade
				.row
					.col-xs-12
						h3 Search
						p Coming Soon!
