extends layout

block headers
	title #{config.site_name}

block content
	#game_container.container
		.row
			.col-xs-12
				.pull-right#logo
				h1 #{config.site_name}
		.row
			+game_navbar('home')
		.row
			.col-xs-12
				ul.list-group
					+flash_messages
		.row
			.col-xs-12
				h3 Welcome #{user.username}
