extends layout

block headers
	title Room Password - #{config.site_name}

block content
	.container
		.row
			+game_navbar('create')
		.row
			.col-xs-12
				h1 Joining Game: 
					i #{room.name}
		.row
			.col-xs-12
				ul.list-group
					+flash_messages
				ul.list-group
					+validation_errors
		form.form-horizontal(method='POST')
			.form-group
				label.control-label.col-xs-12.col-sm-offset-1.col-sm-2.col-md-offset-2(for='password_input') Password
				.col-xs-12.col-sm-8.col-md-5.col-lg-4
					input.form-control(type='text', id='password_input', name='password', placeholder='Password', value='')
			.form-group
				.col-xs-4.col-sm-offset-3.col-sm-2.col-md-offset-4
					button.btn.btn-primary(type='submit') Join
