prewrap_whitespace()
	white-space : pre           /* CSS 2.0 */
	white-space : pre-wrap      /* CSS 2.1 */
	white-space : pre-line      /* CSS 3.0 */
	white-space : -pre-wrap     /* Opera 4-6 */
	white-space : -o-pre-wrap   /* Opera 7 */
	white-space : -moz-pre-wrap /* Mozilla */
	white-space : -hp-pre-wrap  /* HP Printers */
	word-wrap   : break-word    /* IE 5+ */

border_radius()
	-moz-border-radius    : arguments
	-webkit-border-radius : arguments
	border-radius         : arguments

.card
	display            : block
	border_radius      : 5px
	border             : 1px solid black
	width              : 100%
	height             : card_height
	padding            : card_padding
	position           : relative
	overflow           : hidden
	prewrap_whitespace()
	margin             : card_margin

@media(max-width:767px)
	.card
		width : 100%

.card_clickable
	cursor: pointer

.card_white
	background : white
	color      : black

.card_black
	background : black
	color      : white

card_icon_top_margin = 5px
.card_icon
	width        : card_icon_width
	height       : card_icon_height
	background   : url(card_icon_url)
	float        : left
	clear        : left
	margin-right : 5px
	margin-top   : card_icon_top_margin

.card_spacer
	height : (card_height - (2 * card_padding) - (card_icon_height + card_icon_top_margin))
	width  : 0px
	float  : left

.card_blank
	font-family: Arial, Helvetica, sans-serif

.deck_name
	display          : none
	position         : absolute
	padding          : 4px
	text-align       : center
	background-color : #484848;
	bottom           : (card_icon_height + card_icon_top_margin)
	color            : white
	left             : 0
	right            : 0
	margin-left      : auto
	margin-right     : auto

// For card panels, we will steal the margin from the cards and use it for the card panel's
// border, padding, and margin
.card_panel
	border: 2px solid #C0C0C0
	border_radius(4px)
	padding: 1px
	margin: (card_margin - 3)
.card_panel .card
	margin: 0px;
