//////////////////////////////////////
/////////////// Mixins ///////////////
//////////////////////////////////////
opacity(fractional_opacity)
	percent_opacity = fractional_opacity * 100
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + percent_opacity + ")";
	/* IE 5-7 */
	filter: unquote("alpha(opacity=" + percent_opacity + ");")
	/* Netscape */
	-moz-opacity: fractional_opacity;
	/* Safari 1.x */
	-khtml-opacity: fractional_opacity;
	/* Good browsers */
	opacity: fractional_opacity;

display_flex()
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	display: flex

flex_column()
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;

flex()
	-webkit-flex : arguments
	-ms-flex     : arguments
	flex         : arguments

prewrap_whitespace()
	white-space : pre           /* CSS 2.0 */
	white-space : pre-wrap      /* CSS 2.1 */
	white-space : pre-line      /* CSS 3.0 */
	white-space : -pre-wrap     /* Opera 4-6 */
	white-space : -o-pre-wrap   /* Opera 7 */
	white-space : -moz-pre-wrap /* Mozilla */
	white-space : -hp-pre-wrap  /* HP Printers */
	word-wrap   : break-word    /* IE 5+ */

transform()
	-o-transform      : arguments
	-moz-transform    : arguments
	-ms-transform     : arguments
	-webkit-transform : arguments
	transform         : arguments

border_radius()
	-moz-border-radius    : arguments
	-webkit-border-radius : arguments
	border-radius         : arguments

//////////////////////////////////////
/////////////// Styles ///////////////
//////////////////////////////////////

// Utility class for disabling an entire div
.disable_all
	pointer-events : none
	opacity(0.4)

// These flex classes are intended to allow creation of a row where some
// items expand to take up extra space and some do not
.flex_container
	display_flex()
.flex_vcontainer
	display_flex()
	flex_column()
.flex_noexpand
	flex(none)
.flex_expand
	flex(1 1)

.hard_wrap
	overflow: hidden
	prewrap_whitespace()

.dummy_btn
	pointer-events: none

.inline_glyph
	font-size: 20px
	margin-top: 7px
	margin-bottom: 7px
	margin-left: 5px
	margin-right: 5px
	cursor: default

// Sets position to absolute and centers the element horizontally and vertically
.centered_absolute
	position: absolute
	left: 50%
	top: 50%
	transform(translate(-50%, -50%))

// Chat/Score Window:
// We want it to float to the right for large screens and take up the whole
// bottom on smaller screens
#game_floater
	position: absolute
	bottom: 0px
	left: 0px
	right: 0px
	height: 300px
.game_floater_parent
	padding-bottom: 400px
@media (min-width: 1200px)
	// On larger screens, it will also be resizable, so this style must not step
	// on Jquery UI's toes
	container_width = 1170 // Specs of a `.container`
	container_padding = 15
	container_inner_width = container_width - (2 * container_padding)
	card_columns = 5
	col_width = (container_inner_width / card_columns)
	card_col_spacing = (col_width - card_width) / 2 // Space along card edges
	#game_floater
		position: relative
		width: card_width * 2 + card_col_spacing * 2
		height: card_height
		margin: card_margin
		margin-right: card_col_spacing
		margin-left: card_col_spacing
		float: right
	.game_floater_parent
		padding-bottom: 0px
@media (max-width: 1199px)
	// Do not let JQuery UI set dimensions on the element if it is sitting on the bottom
	#game_floater
		width: auto !important
		height: 300px !important

// For card panels, we will steal the margin from the cards and use it for the card panel's
// border, padding, and margin
.card_panel
	border: 1px solid #C0C0C0
	border_radius(4px)
	padding: 1px
	margin-top: (card_margin - 2)
	margin-bottom: (card_margin - 2)
.card_panel .card
	margin: 0px;

#footer
	margin: 20px

#footer .panel-body
	padding: 2px

#footer .list-inline
	margin-bottom: 0px

#footer li
	border-left: 1px solid black

#footer li:first-child
	border-left: none

#footer .flex_container
	padding-top: 2px
	border-top: 1px solid #A0A0A0

#login_container, #register_container, #game_container
	margin-bottom: 100px

.indent_1
	margin-left: 20px
.indent_2
	margin-left: 40px
.indent_3
	margin-left: 60px
.indent_4
	margin-left: 80px

#logo
	display: none

/////////////////////////////////////////
/////////////// Bootstrap ///////////////
/////////////////////////////////////////

.tab-content, .tab-content .tab-pane
	width: 100%;

// Bootstrap's specificity is overriding my styles, so I will just override its right back
.tab-content > .active.flex_vcontainer, .tab-content > .active.flex_container
	display_flex();

/////////////////////////////////////////
//////////// Pseudo-Bootstrap ///////////
/////////////////////////////////////////

.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths
	position: relative
	min-height: 1px
	padding-right: 10px
	padding-left: 10px

.col-xs-5ths
	width: 20%
	float: left

@media (min-width: 768px)
	.col-sm-5ths
		width: 20%
		float: left

@media (min-width: 992px)
	.col-md-5ths
		width: 20%
		float: left

@media (min-width: 1200px)
	.col-lg-5ths
		width: 20%;
		float: left;

.col-xs-2_5ths, .col-sm-2_5ths, .col-md-2_5ths, .col-lg-2_5ths
	position: relative
	min-height: 1px
	padding-right: 10px
	padding-left: 10px

.col-xs-2_5ths
	width: 40%
	float: left

@media (min-width: 768px)
	.col-sm-2_5ths
		width: 40%
		float: left

@media (min-width: 992px)
	.col-md-2_5ths
		width: 40%
		float: left

@media (min-width: 1200px)
	.col-lg-2_5ths
		width: 40%;
		float: left;

.col-xs-3_5ths, .col-sm-3_5ths, .col-md-3_5ths, .col-lg-3_5ths
	position: relative
	min-height: 1px
	padding-right: 10px
	padding-left: 10px

.col-xs-3_5ths
	width: 60%
	float: left

@media (min-width: 768px)
	.col-sm-3_5ths
		width: 60%
		float: left

@media (min-width: 992px)
	.col-md-3_5ths
		width: 60%
		float: left

@media (min-width: 1200px)
	.col-lg-3_5ths
		width: 60%;
		float: left;

.col-xs-4_5ths, .col-sm-4_5ths, .col-md-4_5ths, .col-lg-4_5ths
	position: relative
	min-height: 1px
	padding-right: 10px
	padding-left: 10px

.col-xs-4_5ths
	width: 80%
	float: left

@media (min-width: 768px)
	.col-sm-4_5ths
		width: 80%
		float: left

@media (min-width: 992px)
	.col-md-4_5ths
		width: 80%
		float: left

@media (min-width: 1200px)
	.col-lg-4_5ths
		width: 80%;
		float: left;
